Repository eai04191/littlify, pull requests merged in 2020-02, with the labels that each got.

#8 コントローラーが動作するようにした
  README.md
  packages/client/src/component/Player.tsx
  packages/client/src/index.tsx
Labels: 💻Client

#23 lintを追加
  .eslintrc
  .prettierrc
  package.json
  packages/client/.eslintrc
  packages/client/package.json
  packages/client/src/component/Player.tsx
  packages/client/src/index.tsx
  packages/client/src/sw.ts
  packages/client/tsconfig.json
  packages/client/type/SpotifyState.d.ts
  tsconfig.json
  yarn.lock
Labels: ☝️ High Priority, 🆘 Help wanted

#19 闇堕ち
  packages/client/package.json
  packages/client/src/component/MiniTrack.tsx
  packages/client/src/component/Player.tsx
  packages/client/src/index.tsx
  packages/client/tailwind.config.js
  yarn.lock
Labels: 💻 Client

#25 ショートカット機能を実装
  packages/client/src/component/Player.tsx
  packages/client/src/component/shortcut.ts
Labels: 💪 Enhancement, 💻 Client

#7 簡易的な設定ページと自動ログインの追加
  packages/client/src/component/Config.tsx
  packages/client/src/component/Controller.tsx
  packages/client/src/component/Player.tsx
  packages/client/src/index.tsx
Labels: 💻 Client
